
*{
  margin: 0;
  padding: 0;
  scroll-behavior:smooth;
  transition:0.5s ;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header{
  height: 80px;
  background-color: rgba(16, 30, 160, 0.904);
  z-index: 1000;
  position: fixed;
  width: 100%;
  text-shadow: 0px 2px 10px black;
  font-family: "Poppins";
}
.head-logo{
  width: 5%;
  height: 75px;
  margin-left: 5%;
}
li{
  list-style: none;
}
nav>a{
  color: white;
  text-decoration: none;
  font-family: "Poppins";
}

li>a{
  color: white;
  text-decoration: none;
  font-family: "Poppins";
}
.nav-nadpis{
  font-size: 3rem;
  margin-left: -15%;
  transition: 0.7s ease;
}
.nav-nadpis:hover{
  color: rgb(75, 231, 75);
  
}
.navbar{
  font-size: 1.8rem;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2%;
  
}
.nav-item{
  width: 100%;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  justify-content: right;
}
.navbar ul li a{
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
  }
 

.nav-menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 50%;
}
.nav-links{
  text-decoration: none;
  line-height: 16px;
  transition: color 0.4 background-color 0.4s,padding 0.2 ease-in;
  color: rgb(90, 247, 69);
}
.nav-links::before{
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: rgb(90, 247, 69);
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.4s, transform 0.2s ease-in-out;
}
.nav-links:hover::before,
.nav-links:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.nav-links:hover{
  color: rgb(75, 231, 75);
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 40px;
  margin: 8px auto;
  height: 5px;
  z-index: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
@media(max-width: 1200px){
  .hamburger{
    display: block;
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color:rgba(16, 30, 160, 0.904) ;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 30px 0;
  }
  .nav-menu.active{
    left: 0;
  }

}
.parallax {
  background-image: url("https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-blend-mode:hard-light;
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content:flex-start;
  display: flex;
  color: white;
  gap: 5%;
  text-align: center;
}
.nadpis-body{
  font-size: 60px;
  font-family: "Poppins";
  margin-left: 9.3%;
  margin-top: 200px;
  width: 100%;
  height: 100px;
  text-align: left;
  text-shadow: 0px 2px 10px black;
}
.parallax2 {
  background-image: url("https://images.pexels.com/photos/12505604/pexels-photo-12505604.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas:
    'nadpis-onas'
    'vyhody';
  color: white;
  text-align: center;
  
}
.nadpis-vyhody{
  font-size: 70px;
  font-family: "Poppins";
  margin-top: 50px;
  width: 100%;
  text-shadow: 0px 2px 10px black;
}
.vyhody{
  display: flex;
  height: 300px;
  width: 100%;
  gap: 5%;
  margin-left: 2.5%;
  
}
.vyhoda-1{
  background: rgba(255, 255, 255, 0.8);
  width: 20%;
  border-radius: 30px;
  transition: 0.5s;
}
.vyhoda-1:hover{
  background: rgba(255, 255, 255, 1);
}
.vyhoda-2{
  background: rgba(255, 255, 255, 0.8);
  width: 20%;
  border-radius: 30px;
  transition: 0.5s;
}
.vyhoda-2:hover{
  background: rgba(255, 255, 255, 1);
}
.vyhoda-3{
  background: rgba(255, 255, 255, 0.8);
  width: 20%;
  border-radius: 30px;
  transition: 0.5s;
}
.vyhoda-3:hover{
  background: rgba(255, 255, 255, 1);
}
.vyhoda-4{
  background: rgba(255, 255, 255, 0.8);
  width: 20%;
  border-radius: 30px;
  transition: 0.5s;
}
.vyhoda-4:hover{
  background: rgba(255, 255, 255, 1);
}
#domček{
  height: 180px;
  margin-top: 20px;
}
.vyhody-obrazky{
  width: 50%;
  height: 170px;
  margin-top: 20px;
}
.text-vyhody{
  font-size: 23px;
  color: black;
  font-family: "Poppins";
}
#prva-vyhoda{
  margin-top: 20px;
}
.parallax3 {
  background-image: url("https://images.pexels.com/photos/9875445/pexels-photo-9875445.jpeg?auto=compress&cs=tinysrgb&w=1600");
  height: 900px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
  display: grid;
  color: white;
  text-align: center;
}


.nadpis-ponuka{
  font-size: 70px;
  font-family: "Poppins";
  margin-top: 30px;
  width: 100%;
  text-shadow: 0px 2px 10px black;
}
.ponuka{
  display: flex;
  height: 600px;
  width: 100%;
  gap: 3%;
  margin-left: 2%;
  margin-top: 30px;
}
.ponuka-1{
  background: rgba(255, 255, 255, 0.7);
  display: grid;
  border-radius: 30px;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.ponuka-2{
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 30px;
  transition: 0.5s;
}
.ponuka-3{
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 30px;
  transition: 0.5s;
}
.link-ponuky{
  text-decoration: none;
  width: 30%;
  height: 600px;
  border-radius: 30px;
}
.ponuka-1:hover{
  background: rgba(255, 255, 255, 1);
}
.ponuka-2:hover{
  background: rgba(255, 255, 255, 1);
}
.ponuka-3:hover{
  background: rgba(255, 255, 255, 1);
}
.ponuka-obrazok{
  width: 80%;
  height: 300px;
  margin-top: 20px;
  margin-left: 10%;
  border-radius: 30px;
  
}
.nadpis-ponuky{
  font-size: 40px;
  color: black;
  transition: 0.5s;
  font-family: "Poppins";
}
.text-ponuky{
  font-size: 30px;
  transition: 0.5s;
  color: black;
  font-family: "Poppins";
}
.parallax4 {
  background-image: url("https://images.pexels.com/photos/1254997/pexels-photo-1254997.jpeg?auto=compress&cs=tinysrgb&w=1600");
  height: 1000px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  color: white;
  text-align: center;
}
.nadpis-zamestnanci{
  font-size: 50px;
  font-family: "Poppins";
  margin-top: 40px;
  width: 100%;
  text-shadow: 0px 2px 10px black;
}
.Onas{
  font-size: 70px;
  font-family: "Poppins";
  margin-top: 50px;
  width: 100%;
  text-shadow: 0px 2px 10px black;
}
.onas-veci{
  display: flex;
  height: 300px;
  width: 100%;
  margin: 25px 10% 0px 10%;
  gap: 10%;

}
.onas-1{
  width: 20%;
  text-align: center;
  display: grid;
  align-items: center;
 
  
}
.onas-2{
  width: 20%;
  text-align: center;
  display: grid;
  align-items: center;
}
.onas-3{
  width: 20%;
  text-align: center;
  display: grid;
  align-items: center;

}
.nadpis-onas{
  font-size: 40px;
  color:black;
  font-family: "Poppins";
  text-shadow: 0px 2px 10px white;
  text-align: center;
}
.text-onas{
  font-size: 100px;
  color:black;
  font-family: "Poppins";
  text-shadow: 0px 2px 10px white;
}
.text-onas-special{
  font-size: 100px;
  color:black;
  font-family: "Poppins";
  text-shadow: 0px 2px 10px white;
}
@media(max-width: 1733px){
.text-onas-special{
  margin-top: 58px;
}
}
.zamestnanci{
  display: flex;
  height: 260px;
  width: 100%;
  gap: 3%;
  margin-left: 6.5%;
}
.zamestnanci>div{
  background: rgba(255, 255, 255, 0.8);
  width: 15%;
  border-radius: 100%;
}
footer{
  width: 100vw;
  height: 300px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: flex-end;
 
  bottom: 0px;
  background-color: rgba(16, 30, 160, 0.904);
  gap: 15px 30px;
}
.footer-nadpis{
  color: white;
  font-family: "Poppins";
  font-size: 3rem;
}
.footer-links{
  display: flex;
  justify-content: space-around;
  color: rgb(161, 161, 161);
  text-decoration: none;
  width: 100%;
  
}
.footer-links>a{
  text-decoration: none;
}
.footer-links>a>p{
  color: rgb(161, 161, 161);
  text-decoration: none;
  display: flex;
  width: 200%;
  font-size: 22px;
  font-family: "Poppins";
}
.footer-links>a>p:hover{
  transition: 1s;
  color: white;
}

.footer-logo{
  width: 10%;
  height: 150px;
}
.footer-links-contact{
  display: flex;
  gap:30%;
  text-align: center;
  justify-content: center;
  color: white;
  width: 100%;
  font-size: 25px;
  font-family: "Poppins";
  
}
.footer-links-contact>li{
  letter-spacing: 2px;
}
.copy-r{
  color:white;
  letter-spacing: 2px;
  font-family: "Poppins";
}



.kontakt-telo{
  height: 500px;
  display: grid;
  width: 50%;
  margin-right: 10%;
  color: black;
  font-family: "Poppins";
  text-align: left;
  
  
}

.kontakt-forma{
  display: grid;
  height: 400px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  background-blend-mode: saturation;
  border-radius: 30px;
  margin-top: 200px;

  
}
form{
  margin-top: 20px;
}
.kontakt-forma form input[type="email"]{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-left: 10px;
    padding-bottom: 10px;
    resize: both;
    width: 67%;
    height: 35px;
    margin-top: 5px;
    font-size: 25px;
    align-self: center;
    margin-left: 15%;
    background-color: rgba(255, 255, 255, 0.0);
    
}
.menopr{ 
  display: flex;
  width: 100%;
  
}
.priezvisko{
  outline: none;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-bottom: 10px;
  resize: both;
  width: 30%;
  height: 35px;
  font-size: 25px;
  align-self: center;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.0);
}
.meno{
  outline: none;
  margin-top: 5px;
  border: none;
  margin-left: 15%;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-bottom: 10px;
  resize: both;
  width: 30%;
  height: 35px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.0);
}
.number{ outline: none;
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-left: 10px;
  padding-bottom: 10px;
  resize: both;
  margin-top: 5px;
  width: 67%;
  height: 35px;
  font-size: 25px;
  align-self: center;
  margin-left: 15%;
  background-color: rgba(255, 255, 255, 0.0);}
.kontakt-forma form input[type="text"]:focus,
.kontakt-forma form input[type="email"]:focus,
.kontakt-forma form textarea:focus{
    border-bottom: 3px solid rgba(16, 30, 160, 0.904);
}
.kontakt-forma form textarea{
  height: 70px;
}
.kontakt-opis{
  margin-left: 15%;
  font-size: 20px;
}

.kontakt-forma form input[type="submit"]{
    width: 50%;
    height:60px;
    border: none;
    font-size: 20px;
    margin-left:25%;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;

}
@media(max-width: 1540px){
    .nadpis-ponuky{
      font-size: 35px;}
    .nadpis-body{
      font-size: 55px;
    }
    .vyhody-obrazky{
      height: 150px;
    }
    #domček{
      height: 150px;
    }
    .vyhody{
      height: 260px;
    }
    .zamestnanci{
      height: 220px;
    }
    .parallax2{
      height: 600px;
    }
    .priezvisko{
      font-size: 20px;
    
    }
    .meno{
      font-size: 20px;
  
    }
    .nadpis-ponuka{
      margin-top: 50px;
    }
    .ponuka{
      margin-top: 30px;
    }
   
    
    .parallax{
      height: 650px;
    }
    .kontakt-forma{
      margin-top: 150px;
      height: 350px;
    }
    .kontakt-forma form input[type="email"]{
      height: 20px;
    }
    .number{
      height: 20px;
    }
    .meno{
      height: 20px;
    }
    .priezvisko{
      height: 20px;
    }
    .kontakt-forma form input[type="submit"]{
      width: 40%;
      height:50px;
      border: none;
      font-size: 15px;
      margin-left:30%;
      margin-top: 30px;
      border-radius: 20px;
      cursor: pointer;
      color: white;
      background-color:  rgba(16, 30, 160, 0.904);
      transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
    
}}
@media(max-width: 1440px){
  
  .nav-nadpis{
    font-size: 2.5rem;
  }
  .navbar{
    font-size: 1.38rem;
  }
  .head-logo{
    height: 60px;
  }
  .nadpis-body{
    font-size: 50px;
  }
  .link-ponuky{
   
    height: 500px;
   
  }
  .ponuka{
    height: 500px;
  }
  .nadpis-ponuky{
    font-size: 25px;
  }
  .text-ponuky{
    font-size: 20px;
  }
  .ponuka{
    height: 450px;
  }
  .link-ponuky{
    height: 450px;
  }
  .parallax3{
    height: 750px;
  }
  .zamestnanci{
    height: 180px;
  }
  
}
@media(max-width: 1200px){
  .hamburger{
    display: block;
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color:rgba(16, 30, 160, 0.904) ;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 30px 0;
  }
  .nav-menu.active{
    left: 0;
  }
  .priezvisko{
    font-size: 15px;
  
  }
  .meno{
    font-size: 15px;
  }
  .nav-nadpis{
    margin: 0;
  }
  .head-logo{
    margin-left: 0%;
  }
  .vyhody-obrazky{
    height: 110px;
  }
  #domček{
    height: 115px;
    margin-top: 10px;
  }
  .vyhody{
    height: 230px;
  }
  .text-vyhody{
    font-size: 20px;
  }
  .parallax2{
    height: 500px;
  }
  .ponuka-obrazok{
    height: 250px;
  }
  .nadpis-ponuka{
    font-size: 50px;
  }
  .nadpis-vyhody{
    font-size: 50px;
  }
  .Onas{
    font-size: 50px;
  }
  .nadpis-zamestnanci{
    font-size: 50px;
  }
  .nadpis-onas{
    font-size: 30px;
  }
  .onas-veci{
    margin: 0px 10% 75px 10%;
  }
  .text-onas{
    font-size: 60px;
  }
  .text-onas-special{
    font-size: 60px;
    margin-top: 50px;
  }
  .footer-logo{
    height: 120px;
  }
  footer{
    height: 280px;
  }
  .footer-links-contact{
    font-size: 20px;
  }
  .kontakt-forma{
    margin-top: 150px;
    height: 300px;
  }
  .kontakt-forma form input[type="email"]{
    height: 15px;
    font-size: 13px;
  }
  .number{
    height: 15px;
    font-size: 13px;
  }
  .meno{
    height: 15px;
    width: 29.5%;
  }
  .priezvisko{
    height: 15px;
    width: 29.5%;
    
  }
  .kontakt-opis{
    font-size: 15px;
  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:50px;
    border: none;
    font-size: 15px;
    margin-left:30%;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  
}
  .nadpis-body{
    font-size: 40px;
  }
  .parallax{
    height: 550px;
  }
  .nadpis-zamestnanci{
    margin-top: -110px;
  }
  .zamestnanci{
    margin-top: -60px;
  }
  .parallax4{
    height: 800px;
  }
}
@media(max-width: 1050px){
  .zamestnanci{
    height: 150px;
  }
  .nadpis-zamestnanci{
    font-size: 40px;
  }
  .footer-logo{
    height: 100px;
  }
  footer{
    height: 220px;
  }
  .footer-links>a>p{
    font-size: 15px;
  }
  .footer-links-contact{
    font-size: 15px;
  }
  .copy-r{
    font-size: 10px;
  }
  .ponuka-obrazok{
    height: 220px;
  }
  .nadpis-ponuky{
    font-size: 20px;
  }
  .text-ponuky{
    font-size: 15px;
  }
  .link-ponuky{
   
    height: 370px;
   
  }
  .ponuka{
    height: 370px;
  }
  .parallax3{
    height: 600px;
  }
  .vyhody{
    height: 200px;
  }
  .vyhody-obrazky{
    height: 90px;
  }
  #domček{
    height: 100px;
  }
  .text-vyhody{
    font-size: 17px;
  }
  .kontakt-forma{
    margin-top: 150px;
    height: 240px;
  }
  .kontakt-forma form input[type="email"]{
    height: 10px;
    font-size: 12px;
  }
  .number{
    height: 10px;
    font-size: 12px;
  }
  .meno{
    height: 15px;
    font-size: 12px;
    width: 29.3%;
  }
  .priezvisko{
    height: 15px;
    font-size: 12px;
    width: 29.3%;
  }
  .kontakt-opis{
    font-size: 10px;
  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:30px;
    border: none;
    font-size: 10px;
    margin-left:30%;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  
}
  .nadpis-body{
    font-size: 38px;
  }
  .parallax{
    height: 480px;
  }
  .nadpis-vyhody{
    font-size: 38px;
  }
  .parallax2{
    height: 420px;
  }
  .nadpis-ponuka{
    font-size: 38px;
    margin-top: 15px;
  }
  .parallax3{
    height: 550px;
  }
  .Onas{
    font-size: 38px;
  }
  .nadpis-onas{
    font-size: 30px;
  }
  .text-onas{
    font-size: 40px;
  }
  .text-onas-special{
    font-size: 40px;
  }
  .parallax4{
    height: 700px;
  }
  .onas-veci{
    margin-top: -50px;
  }
  .head-logo{
    width: 7%;
  }
  .nadpis-body{
    font-size: 32px;
  }
  .nav-nadpis{
    font-size: 30px;
    margin-top: -8px;
  }
  .head-logo{
    height: 60px;
    width: 6%;
    margin-top: -8px;
  }
  .hamburger{
    margin-top: -8px;
  }
  header{
    height: 70px;
  }
  .bar{
    width: 30px;
    margin: 6px auto;
    height: 4px;
   
  }
  .nav-item{
    margin: 20px 0;
    font-size: 20px;
  }
  .nav-menu.active{
    top:70px;
  }
}
@media(max-width: 860px){
  .nadpis-body{
    font-size: 30px;
  }
  .kontakt-forma{
    margin-top: 150px;
    height: 220px;
  }
  .kontakt-forma form input[type="email"]{
    height: 7px;
    font-size: 10px;
  }
  .number{
    height: 7px;
    font-size: 10px;
    margin-bottom: 0;
  }
  .meno{
    height: 7px;
    font-size: 10px;
    width: 29%;
  }
  .priezvisko{
    height: 7px;
    font-size: 10px;
    width: 29%;
  }
  .kontakt-opis{
    font-size: 10px;
  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:30px;
    border: none;
    font-size: 12px;
    margin-left:30%;
    margin-top: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  }
  .vyhody{
    height: 170px;
  }
  .vyhody-obrazky{
    height: 70px;
  }
  #domček{
    height: 80px;
  }
  .text-vyhody{
    font-size: 15px;
  }
  .ponuka-obrazok{
    height: 200px;
  }
  .nadpis-ponuky{
    font-size: 17px;
  }
  .text-ponuky{
    font-size: 12px;
  }
  .link-ponuky{
   
    height: 320px;
   
  }
  .ponuka{
    height: 320px;
  }
  .parallax3{
    height: 480px;
  }
  .nadpis-onas{
    font-size: 25px;
  }
  .text-onas{
    font-size: 30px;
    margin-top: -50px;
  }
  .text-onas-special{
    font-size: 30px;
    margin-top: -15px;
  }
  .zamestnanci{
    height: 120px;
    margin-top: -100px;
  }
  .nadpis-zamestnanci{
    margin-top: -140px;
  }
  .footer-logo{
    height: 80px;
  }
  footer{
    height: 200px;
  }
  .head-logo{
    width: 9%;
  }
}
@media(max-width: 695px){
  *{transition: 0s;}
  .parallax{
    display: block;
    height: 600px;
  }
  .nav-nadpis{
    margin-left: -5%;
  }
  .nadpis-body{
    font-size: 30px;
    width: 100%;
    height: 70px;
    text-align: center;
    margin-left: 0%;
    margin-top: 0px;
    padding-top: 120px;
    
  }
  .kontakt-telo{
    width: 100%;
  }

  .kontakt-forma{
    margin-top: 100px;
    height: 250px;
    width: 50%;
    margin-left: 25%;
  }
  .kontakt-forma form input[type="email"]{
    height: 15px;
    font-size: 14px;
  }
  .number{
    height: 15px;
    font-size: 14px;

  }
  .meno{
    height: 15px;
    font-size: 14px;
    width: 29%;
  }
  .priezvisko{
    height: 15px;
    font-size: 14px;
    width: 29%;
  }
  .kontakt-opis{
    font-size: 10px;
  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:30px;
    border: none;
    font-size: 14px;
    margin-left:30%;
    margin-top: 18px;

    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  }
  .vyhody{
    display: block;
    height: 800px;
    width: 100%;
    margin-top: -500px;
    gap: 0;
    margin-left: 0;
  }
  .parallax2{
    height: 1600px;
  }
  .vyhoda-1{
    height: 300px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-2{
    margin-top: 50px;
    height: 300px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-3{
    margin-top: 50px;
    height: 300px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-4{
    margin-top: 50px;
    height: 300px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhody-obrazky{
    height: 180px;
  }
  .text-vyhody{
    font-size: 25px;
  }
  #domček{
    height: 190px;
  }
  .ponuka{
    display: block;
    gap: 0;
    height: 1040px;
    margin-left: 0;
    width:50% ;
    margin-top: 0;
    margin-left: 25%;
  }
  .ponuka-1{
    width: 100%;
    height: 370px;
  }
  .ponuka-2{
    margin-top: 20px;
    width: 100%;
    height: 370px;
  }

  .ponuka-3{
    height: 370px;
    width: 100%;
    margin-top: 20px;
  }
  .parallax3{
    height: 1340px;
  }
  .link-ponuky{
    width: 50%;
    margin-left: 25%;
    height: 300px;
  }
  .nadpis-ponuky{
    font-size: 22px;
  }
  .text-ponuky{
    font-size: 18px;
  }
  .ponuka-obrazok{
    height: 240px;
  }
  .onas-veci{
    display: block;
    height: 500px;
    width: 100%;
    gap: 0;
    margin-left: 0;
  }
  .parallax4{
    height: 2200px;
  }
  .onas-1{
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-left: 0;
  }
  .onas-2{
    margin-top: 30px;
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .onas-3{
    margin-top: 30px;
    width: 100%;
    display: block;
    margin-left: 0;
  }
  .text-onas{
      margin-top: 50px;
      font-size: 50px;
      width: 100%;
  }
  .text-onas-special{
      margin-top: 50px;
      font-size: 50px;
      width: 100%;
  }
  .nadpis-onas{
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-size: 30px;

  }
  .zamestnanci{
    display: block;
    height:1250px;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }
  .zamestnanci>div{
    width: 40%;
    height: 220px;
    margin-top: 30px;
    margin-left: 30%;
    
  }
  .nadpis-zamestnanci{
    margin-top: 0px;
  }
  .footer-logo{
    height: 65px;
  }
  .footer-links-contact{
    font-size: 11px;
  }
  .footer-links>a>p{
    font-size: 10px;
  }
  footer{
    height: 170px;
  }

}
@media(max-width: 534px){
  .parallax{
    height: 570px;
  }
  .kontakt-forma{
    margin-top: 100px;
    height: 230px;
    width: 50%;
    margin-left: 25%;
  }
  form{
    margin-top: 5px;
  }
  .kontakt-forma form input[type="email"]{
    height: 15px;
    font-size: 12px;
  }
  .number{
    height: 15px;
    font-size: 12px;
   
  }
  .meno{
    height: 10px;
    font-size: 12px;
    width: 29%;
  }
  .priezvisko{
    height: 10px;
    font-size: 12px;
    width: 29%;
  }
  .kontakt-opis{
    font-size: 10px;
    margin-bottom: -20px;
  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:30px;
    border: none;
    font-size: 12px;
    margin-left:30%;
    margin-top: 15px;

    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  }
  .vyhody{

    height: 600px;
    width: 100%;
    margin-top: -500px;

  }
  .nadpis-vyhody{
    font-size: 30px;
  }
  .parallax2{
    height: 1300px;
  }
  .vyhoda-1{
    height: 230px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-2{
    height: 230px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-3{
    height: 230px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-4{
    height: 230px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhody-obrazky{
    height: 120px;
  }
  .text-vyhody{
    font-size: 18px;
  }
  #domček{
    height: 140px;
  }
  .ponuka{
    margin-top: 20px;
    height: 1040px;

  }
  .ponuka-1{
    width: 100%;
    height: 320px;
  }
  .ponuka-2{
    height: 320px;
  }

  .ponuka-3{
    height: 320px;
  }
  .parallax3{
    height: 1220px;
  }
  .link-ponuky{
    width: 50%;
    margin-left: 25%;
    height: 320px;
  }
  .nadpis-ponuky{
    font-size: 19px;
  }
  .nadpis-ponuka{
    font-size: 30px;
    margin-top: 40px;
  }
  .text-ponuky{
    font-size: 16px;
  }
  .ponuka-obrazok{
    height: 180px;
  }
  .onas-veci{
    display: block;
    height: 350px;
    width: 100%;
    gap: 0;
    margin-left: 0;
  }
  .parallax4{
    height: 2200px;
  }
  .Onas{
    font-size: 30px;
  }
  .text-onas{
      margin-top: 30px;
      font-size: 40px;
  }
  .text-onas-special{
      margin-top: 30px;
      font-size: 40px;
  }
  .nadpis-onas{
    width: 100%;
    font-size: 25px;

  }
  .nadpis-zamestnanci{
    font-size: 30px;
    padding-top: 40px;
  }
  .zamestnanci{
    height: 1000px;
  }
  .zamestnanci>div{
    width: 40%;
    height: 180px;
    margin-top: 0px;
    margin-left: 30%;
    margin-bottom: 30px;
    
  }
  .parallax4{
    height: 1800px;
  }
  .head-logo{
    height: 45px;
  }
  .footer-logo{
    height: 50px;
    margin-bottom: -15px;
  }
  .footer-links-contact{
    font-size: 9px;
  }
  .footer-links>a>p{
    font-size: 9px;
    margin-top: 0;
    margin-left: 0;
  }
  .footer-links{
    height: 9px;
    
  }
  .copy-r{
    font-size: 7px;
  }
  footer{
    height: 120px;
  }
  .nadpis-vyhody{
    font-size: 30px;
  }
  .nadpis-body{
    font-size: 27px;
  }
}
@media(max-width: 441px){
  .parallax{
    height: 580px;
  }
  .nadpis-body{
    font-size: 25px;
  }
  .kontakt-forma form input[type="email"]{
    height: 35px;
    font-size: 18px;
    padding-bottom: 0;
    padding-left: 0;
    width: 70%;
  }
  .number{
    height: 35px;
    font-size: 18px;
    padding-bottom: 0;
    padding-left: 0;
    width: 70%;
  }
  .meno{
    height: 35px;
    font-size: 18px;
    width: 29%;
    padding-bottom: 0;
    padding-left: 0;
    width: 32.5%;
  }
  .priezvisko{
    height:35px;
    font-size: 18px;
    width: 29%;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    width: 32.5%;
  }
  .kontakt-forma{
    height: 275px;
    width: 70%;
    margin-left:15% ;
    margin-top: 70px;
  }
  .kontakt-opis{
    font-size: 15px;
    padding-top: 20px;
    

  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:30px;
    border: none;
    font-size: 11px;
    margin-left:30%;
    margin-top: 15px;

    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  }
  .vyhody{

    height: 400px;
    width: 100%;
    margin-top: -500px;

  }
  .nadpis-vyhody{
    font-size: 25px;
  }
  .parallax2{
    height: 1200px;
  }
  .vyhoda-1{
    height: 210px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-2{
    height: 210px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-3{
    height: 210px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-4{
    height: 210px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhody-obrazky{
    height: 100px;
    margin-top: 30px;
  }
  .text-vyhody{
    font-size: 16px;
  }
  #domček{
    height: 120px;
    margin-top: 10px;
  }
  .ponuka{
    margin-top: 20px;
    height: 1040px;

  }
  .ponuka-1{
    width: 100%;
    height: 280px;
  }
  .ponuka-2{
    height: 280px;
  }

  .ponuka-3{
    height: 280px;
  }
  .parallax3{
    height: 1100px;
  }
  .ponuka-obrazok{
    height: 160px;
  }
  .link-ponuky{
    width: 50%;
    margin-left: 25%;
    height: 280px;
  }
  .nadpis-ponuky{
    font-size: 16px;
  }
  .nadpis-ponuka{
    font-size: 30px;
    margin-top: 40px;
  }
  .text-ponuky{
    font-size: 14px;
  }
  .nadpis-onas{
    font-size: 23px;
  }
  .text-onas{
    font-size: 30px;
  }
  .zamestnanci>div{
    height: 150px;
    width: 35%;
   
    position: absolute;
  }
  #zamestnanec-1{
    margin-left: 10%;
  }
  #zamestnanec-2{
    margin-left: 55%;
    width: 35%;
  }
  #zamestnanec-3{
    margin-top: 170px;
    margin-left: 10%;
    width: 35%;
  }
  #zamestnanec-4{
    margin-top: 170px;
    margin-left: 55%;
    width: 35%;
  }
  #zamestnanec-5{
    margin-top: 320px;
    margin-left: 33%;
    width: 35%;
  }
  .zamestnanci{
    height: 450px;
    width: 100%;

  }
  .parallax4{
    height: 1250px;
  }
  footer{
    height: 270px;
    display: block;
    
  }
  .footer-logo{
    width: 30%;
    height: 120px;
    margin-left: 55%;
    margin-top: 30px;
    position: absolute;
   
  }
  .footer-links{
    display: block;
    height: 170px;
    width: 100%;
    padding-top: 10px;

  }
  .footer-links>a>p{
    font-size: 20px;
    width: 50%;
    margin-top: 10px;
    margin-left: 5%;
  }
  .footer-links-contact{
    display: block;
    margin-left: 5%;
    width: 90%;
  }
  .footer-links-contact>li{
    font-size: 15px;
    text-align: left;
    
  }
  .copy-r{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 150x;
  }

}
@media(max-width: 371px){
  .kontakt-forma form input[type="email"]{
    height: 30px;
    font-size: 16px;
    padding-bottom: 0;
    padding-left: 0;
    width: 70%;
  }
  .number{
    height: 30px;
    font-size: 16px;
    padding-bottom: 0;
    padding-left: 0;
    width: 70%;
  }
  .meno{
    height: 30px;
    font-size: 16px;
    width: 29%;
    padding-bottom: 0;
    padding-left: 0;
    width: 32.5%;
  }
  .priezvisko{
    height: 30px;
    font-size: 16px;
    width: 29%;
    margin-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    width: 32.5%;
  }
  .kontakt-forma{
    height: 255px;
    width: 70%;
    margin-left:15% ;
    margin-top: 80px;
  }
  .kontakt-opis{
    font-size: 15px;
    padding-top: 20px;
    

  }
  .kontakt-forma form input[type="submit"]{
    width: 40%;
    height:30px;
    border: none;
    font-size: 11px;
    margin-left:30%;
    margin-top: 15px;

    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color:  rgba(16, 30, 160, 0.904);
    transition: background-color 300ms ease-in-out,box-shadow 300ms ease-in-out;
  }
  .nadpis-body{
    font-size: 22px;
  }
  .parallax2{
    height: 1100px;
  }
  .nadpis-vyhody{
    font-size: 25px;
  }
  .vyhody{
    height: 400px;
    margin-top: -480px;
  }
  .vyhoda-1{
    height: 190px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-2{
    height: 190px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-3{
    height: 190px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhoda-4{
    height: 190px;
    width: 50%;
    margin-left: 25%;
  }
  .vyhody-obrazky{
    height: 85px;
    margin-top: 30px;
  }
  .text-vyhody{
    font-size: 14px;
  }
  #domček{
    height: 110px;
    margin-top: 10px;
  }
  .ponuka{
    margin-top: 20px;
    height: 1040px;

  }
  .ponuka-1{
    width: 100%;
    height: 270px;
  }
  .ponuka-2{
    height: 270px;
  }

  .ponuka-3{
    height: 270px;
  }
  .parallax3{
    height: 1050px;
  }
  .ponuka-obrazok{
    height: 145px;
  }
  .link-ponuky{
    width: 50%;
    margin-left: 25%;
    height: 270px;
  }
  .nadpis-ponuky{
    font-size: 14px;
  }
  .nadpis-ponuka{
    font-size: 30px;
    margin-top: 40px;
  }
  .text-ponuky{
    font-size: 13px;
  }
  .nadpis-onas{
    font-size: 19px;
  }
  #zamestnanec-1{
    height: 120px;
  }
  #zamestnanec-2{
    height: 120px;
  }
  #zamestnanec-3{
    height: 120px;
  }
  #zamestnanec-4{
    height: 120px;
  }
  #zamestnanec-5{
    height: 120px;
  }
}
